*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 90%;
    margin: 0 auto;
    background-color: #585858;
}

header{
    background-color: #151515;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

nav{
    background-color: #151515;
    padding: 10px;
    margin: 10px;
    text-align: right;
}

footer{
    background-color: #151515;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

form{
    width: 75%;
    
}

a{
    display: inline;
    padding: 15px;
    margin-right: 10px;
    margin-right: 10px;
    color: white;
}

h1, h2, h3{
    color: white;
    text-align: left;
    padding-left: 20px;
}



